<div id="info">
    <h1 
    data-aos="fade-up"
    data-aos-delay="300"
    class="text-4xl md:text-7xl font-base leading-16 md:leading-20 mb-10 relative inline-block dark:text-zinc-100">
        <span class="relative font-thin text-amber-500 group overflow-hidden">
          <span class="absolute bottom-0 left-0 w-full h-0 bg-amber-500 transition-all duration-300 ease-in-out group-hover:h-full"></span>
          <a href="#" class="relative group-hover:text-zinc-100 transition-colors duration-300 hover:cursor-pointer">Encima®<a/>
      </span>
        <span> ı es un estudio creativo especializado en videos de drone, diseño y contenido.</span>
    </h1>
    <h1 
    data-aos="fade-up"
    data-aos-delay="400"
    class="text-base md:text-2xl transition-all duration-700 delay-500 dark:text-zinc-100">
        Creamos piezas visuales de alta calidad y alineadas con las tendencias, garantizando una comunicación efectiva e impactante.
    </h1>
</div>
  
  