---
/* No necesitas importar Fragment en Astro */
---

<div class="grid grid-cols-1">
    <two-up class="w-full h-full">
        <img class="w-full h-full object-cover" src="/assets/twoElement/djiOri.webp" alt="Imagen original antes de la edición" />
        <img class="w-full h-full object-cover" src="/assets/twoElement/djiEdit.webp" alt="Imagen después de la edición, que se sube a rrss" />
    </two-up>
</div>

  