---
import '@fontsource/poppins';
import '@fontsource/caprasimo';
import "../styles/global.css";
import Header from "../components/Header.astro";

interface Props {
	title: string,
	description: string,
}

const { description, title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="https://unpkg.com/two-up-element@1"></script>
		<script src="https://unpkg.com/aos@2.3.4/dist/aos.js" defer></script>
		<script is:inline>
		window.addEventListener('DOMContentLoaded', () => {
			AOS.init({
			duration: 800,
			once: false,
			mirror:true
			});
		});
		</script>
	</head>
	<body class="bg-zinc-100 dark:bg-zinc-900 overflow-x-hidden">
		<Header class="z-10"></Header>
		<slot/>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: 'Poppins', sans-serif;
		scroll-behavior: smooth;
	}
</style>
